<div class="post-card card">

    <div class="card-header">
        <h4>{{title}}</h4>
    </div>

    <div class="card-body">
        <p>
            {{contents}}
        </p>

        <div>
            {{!-- ⏰ if comments exist --}}
            {{#if comments}}
            {{each comments as |comment|}}
            {{> comment-card}}
            {{/each}}
            {{/if}}
        </div>

    </div>

    <div class="card-footer text-muted">
        Posted on
        {{!-- ⏰ insert post date & time --}}
        {{format_date}}
    </div>

</div>