<div class="post-card card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <h4>{{title}}</h4>
            </div>

            <div class="col-md-4">
                {{!-- ⏰ TODO: show edit & delete button if logged in --}}
                {{!-- ❌if not working --}}
                {{#if logged_in}}
                <button type="button" class="btn btn-primary" id="edit-post-btn">
                    Edit
                </button>
                <button type="button" class="btn btn-primary" id="delete-post-btn">
                    Delete
                </button>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="text-content card-body">
        <p class="text-dark-emphasis fs-5">
            {{contents}}
        </p>

        <div>
            {{!-- ⏰ if comments exist --}}
            {{#if comments}}
            {{#each comments as |comment|}}
            {{> comment-card}}
            {{/each}}
            {{/if}}
        </div>

    </div>

    <div class="text-content card-footer">
        <p class="text-muted fs-6">
            Posted on
            {{format_date createdAt}}
        </p>
    </div>

</div>