
<div class="post-card card">
    {{!-- ⏰ TODO: display options to edit post --}}
    <div class="card-header">
        <h4>{{title}}</h4>
    </div>

    <div class="text-content card-body">
        <p class="text-dark-emphasis fs-5">
            {{contents}}
        </p>

        <div>
            {{!-- ⏰ if comments exist --}}
            {{#if comments}}
            {{#each comments as |comment|}}
            {{> comment-card}}
            {{/each}}
            {{/if}}
        </div>

    </div>

    <div class="text-content card-footer"> 
        <p class="text-muted fs-6">
        Posted on
        {{!-- ⏰ insert post date & time --}}
        {{format_date createdAt}}
        </p>
    </div>

</div>