

<h3>PROFILE PAGE MAYBE {{username}}</h3>

<div>
{{!-- ⏰ TODO: display user's posts and the option to add a new blog post --}}
</div>

<div>
    <a href="/api/post/create">
        <button>
            Create a New Post
        </button>
    </a>
</div>