

<h3>PROFILE PAGE {{username}}</h3>

<div>
{{!-- â° TODO: display user's posts and the option to add a new blog post --}}
    {{#each posts as |post|}}
        {{> post-card post}}
    {{/each}}
</div>

<div>
    
<a href="new-post.handlebars">

        <button type="button" class="btn btn-primary">
            Create a New Post
        </button>
</a>
    
</div>