{{!-- display a specific post with comment
edit button, delete button & leave a comment button
--}}
<h3>{{username}}'s Dashboard</h3>

<div>
    {{#each posts as |post|}}
    <div class="position-relative">
    {{> post-card post}}
        <div class="position-absolute top-0 end-0">
            <a href="/editpost/{{id}}">   
                <button type="button" class="btn btn-primary" id="edit-post-btn" data-id="{{id}}">
                Edit
            </button>
            </a>
         
            <button type="button" class="btn btn-primary" id="delete-post-btn" data-id="{{id}}">
                Delete
            </button>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">
    <div class="col">
        <a href="/newpost">
            <button type="button" class="btn btn-primary">
                Create a New Post
            </button>
        </a>
    </div>
</div>

<script src="/js/deleteButton.js"></script>