{{!-- ⏰ TODO: any blog posts user has already created and the option to add a new blog post --}}

<h3>PROFILE PAGE MAYBE {{username}}</h3>

<div>
    {{#each posts as |post|}}
    {{> post-card}}  
    {{/each}}
</div>

<div>
    <a href="/api/post/create">
        <button>
            Create a New Post
        </button>
    </a>
</div>