{{!-- display a specific post with comment
edit button, delete button & leave a comment button
--}}
<h3>PROFILE PAGE {{username}}</h3>

<div>
    {{#each posts as |post|}}
    {{> post-card post}}
    {{/each}}
</div>

<div class="row">
    <div class="col">
        <a href="/newpost">
            <button type="button" class="btn btn-primary">
                Create a New Post
            </button>
        </a>
    </div>

    <div class="col">
        {{!-- {{#if logged_in}} --}}
        <button type="button" class="btn btn-primary" id="edit-post-btn">
            Edit My Post
        </button>
        <button type="button" class="btn btn-primary" id="delete-post-btn">
            Delete My Post
        </button>
        {{!-- {{/if}} --}}
    </div>
</div>


{{!-- ⏰TODO: add functions for edit & delete post --}}
{{!--
<script></script> --}}