{{!-- ⏰ TODO: styling --}}

<div>
    <h2>HomePage</h2>
    <p>Click a post title to view comments</p>
</div>


<div>

    {{#each posts as |post|}}
    <div class="position-relative">
        {{> post-card}}
        <div class="position-absolute bottom-0 start-50">
            <p style="text-shadow: none;" class="text-muted fs-6">Posted By {{post.user.username}}</p>
        </div>
    </div>
    {{/each}}
</div>