{{!-- ⏰ TODO: styling --}}

<h2>
    HomePage
</h2>

<div>
    {{#each posts as |post|}}
    {{> post-card}}  
    {{/each}}
    {{!-- switch to the single-post page --}}
    {{!-- <a href="/post/{{id}}">{{Post.title}}</a> --}}
</div>

