{{!-- ⏰ TODO: styling --}}

<h2>
    HomePage
</h2>

<div>
    {{#each posts as |post|}}
    {{> post-card}}  
    {{/each}}
    {{!-- switch to the single-post page --}}
    <a href="/post/{{id}}">{{title}}</a>
</div>

{{#if logged_in}}
<p>Hello</p>
{{/if}}
