<h2>Login stuff</h2>

<form id="login-form">
    <input type="text" placeholder="email" id="email-field">
    <input type="password" placeholder="password" id="password-field">

    <button type="submit">send</button>
</form>

<script src="/js/login.js"></script>