<div class="new-post-page">
  <h2 class="page-title">Create a New Post</h2>
  <form class="form" id="new-post-form">
    <div class="form-group">
      <label for="post-title">Title:</label>
      <input class="form-input" type="text" id="new-post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content:</label>
      <textarea class="form-input" type="text" id="new-post-content" /> </textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
</div>

<script src="/js/newPost.js"></script>