  <div class="new-comment-page">
    <h2 class="page-title">Leave a comment</h2>
    <form class="form" id="new-comment-form">
      <div class="form-group">
        <label for="comment-content">Content:</label>
        <input class="form-input" type="text" id="new-comment-text" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>